body {
    margin: 0;
    font-family: Arial;
    font-size: 20px;
}

.col-header {
    position: relative;
    width: 100%;
    height: 70px;
    background-color: #2d3436;
}

.col-main {
    background-color: white;
    /*border: 1px solid black;*/
    width: 60%;
    height: 500px;
    float: left;
}

.col-leftBar {
    width: 20%;
    height: 500px;
    background-color: #ecf0f1;
    float: left;
}


.col-rightBar {
    background-color: #ecf0f1;
    /*border: 1px solid black;*/
    width: 20%;
    height: 500px;
    float: left;
}

.col-footer {
    background-color: #2d3436;
    width: 100%;
    height: 79px;
    clear: both;
}

#menu {
    position: absolute;
    margin-top: 19px;
    margin-left: 5px;
}

#menu li {
    list-style: none;
    display: block;
    float: left;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #dfe6e9;
    background-color: #2d3436;
    /*background-color: black;*/
}

#menu ul , #menu li {
    margin: 0;
    padding: 0;
}

#login {
    position: absolute;
    margin-left: 90%;
    margin-top: 19px;
}

#login button {
    background-color: #2d3436;
    color: #dfe6e9;
    font-size: 18px;
    font-family: Arial;
    width: 83px;
    border: none;
}

.link {
    font-size: 25px;
    color: #1e90ff;
    padding: 10px;
    height: 30px;
    text-align: center;
}

.ADS {
    margin-left: 30px;
    margin-top: 21px;
    border: 1px solid #dfe4ea;
    padding: 10px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    width: 147px;
    align-content: center;
}

#welcome {
    margin-left: 5px;
}
#text {
    text-indent: 50px;
    text-align: justify;
    padding: 8px;
}

@media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    .link {
        height: 80px;
        text-align: center;
        align-content: center;
    }
    #login {
        margin-top: 136px;
        margin-left: 10px;
    }
    .col-header {
        height: 200px;
    }
}