body {
    font-family: Arial;
}

#menu , #menu ul , #menu li {
    margin: 0px;
    padding: 0px;
}

#menu li {
    background-color: black;
    position: relative;
    width: 100px;
    height: 30px;
    line-height: 30px;
    padding: 0px 20px;
    list-style: none;
}
#menu li a {
    text-decoration: none;
    color: white;
}

#menu li:hover {
    background-color: red;
}

#menu ul ul {
    position: absolute;
    top: 0px;
    left: 140px;
    visibility: hidden;
}

#menu ul li:hover ul{
    visibility: visible;
}